body {
    font-family: Arial, sans-serif;
    background-image: url('./backround.cms');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: azure;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar img {
    height: 45px;
    width: 40px;
    margin-left: 12px;
}

.navbar h3 {
  margin-left: 30px;
    color: rgb(34, 100, 158);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.navbar li {
    float: left;
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: rgb(34, 100, 158);
    padding: 15px;
    display: block;
}

.navbar a:hover {
    color: #415FE2;
    transition: background-color 0.3s ease;
}

.container {
    text-align: center;
    color: #333; 
    margin-top: 100px; 
}

.container h1 {
    color: #007BFF; 
}

.container p {
    margin-top: 20px; 
    font-size: large;
}